.spanborder {
  border-bottom: 1px solid #e8f3ec;
  margin-bottom: 2rem;
}

.spanborder span {
  border-bottom: 1px solid rgba(0,0,0,0.44);
  display: inline-block;
  padding-bottom: 20px;
  margin-bottom: -1px;
}

.site-content {
  margin-top: 2em;
}